<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:insert="fragments.html :: headerfiles">
</head>
<body>
<header th:insert="fragments.html :: nav"></header>
<div class="container">
    <h1 class="display-4 my-3">Your order list!</h1>
    <div class="row">
        <ul class="list-group col-9">
            <li class="list-group-item d-flex justify-content-around">
                <span class="my-auto h6">Order location</span>
                <span class="my-auto h6">data</span>
            </li>
        </ul>
        <ul class="list-group col-9" th:each="order : ${user.orderList}">
            <li class="list-group-item d-flex justify-content-around">
                <span class="my-auto" th:text="'$ '+${order.orderLocation}"></span>
                <span class="my-auto" th:text="'$ '+${order.orderDate}"></span>
                <a href="#" type="button" th:href="@{'~/profile/addToCart/' + ${order.orderId}" class="btn btn-primary">Add to this order</a>
            </li>
        </ul>
    </div>
</div>
</body>
</html>
